.back_img_quote {
	padding: 4.375em 0;
	background-position: center;
	background-size: cover;
	position: relative;
}
.back_img_quote:before {
	position: absolute;
	content:" ";
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: block;
	z-index:0;
	opacity: .75;
}
.back_img_quote > .wrap {
	position: relative;
}
.bl-party-random-grid img {
	width: 100%;
}
.medium_title p {
	margin-bottom: 0;
}
hr {
	margin: 0;
	border: none;
	border-top: 1px solid #cacaca;
}

/* Temporary Pager for Recent Archive */

.posts_pager {
	text-align: center;
	margin: 3em 0;
}
.posts_pager span, .posts_pager a.page-numbers {
	background-color: red;
	padding: 1em;
	color: white;
}
span.page-numbers.current {
	background-color: #CA1B1B;
}
.posts_pager a.page-numbers:hover {
	background-color: #CA1B1B;
}
